.form {
  border-top: 1px solid #000;
  margin: 4rem 0;
  padding-top: 4rem;

  &-box {
    display: flex;
    height: 5rem;
    justify-content: center;
    align-items: center;
  }

  &-input {
    background-color: #222;
    border: 0;
    border-radius: 3px;
    color: #fff;
    padding: .7rem 1.5rem;
    height: 2rem;
    &:focus {
      outline: none;
    }
  }
}
