.road {
  padding: 4rem 5rem;

  &__event-handler {

    > h1:first-child {
      text-align: center;
      letter-spacing: 0;
      transform: skewY(0);
      transition: all .17s ease;


      &:hover {
        letter-spacing: 2px;
        transform: skewY(-3deg);
      }
    }

    :last-child {
      border-bottom: 1px solid #000;
    }

    > :not(:first-child) {
      border-top: 1px solid black;
      min-width: 450px;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      border-left: 1px solid #111;
      border-right: 1px solid #111;
      padding: 2rem 0;
      align-items: center;

      span {
        display: flex;
        height: calc(100% + (2rem * 2));
        justify-content: center;
        align-items: center;

        &:not(:last-child) {
          border-right: 1px solid #666;
          color: #222 !important;
        }

        &:last-child {
          width: 100%;
          color: #33DD22;
          background-color: #222;
          transition: all .1s ease-in;

          &:hover {
            font-weight: 600;
            color: #ff3322 !important;
            cursor: pointer;
          }
        }

      }
    }
  }
}
