.header {
  > .nav {
    background-color: rgba(#222, .9);
    color: #fff;
    height: 7.9rem;
    display: block;

    > ul {
      display: flex;
      align-items: center;
      height: inherit;
      padding: 0 4rem;
      > * {
        flex: 1;
        font-family: sans-serif;
        font-weight: lighter;
        font-size: 2rem !important;
        display: flex;
        height: inherit;
        align-items: center;
        justify-content: center;
      }
    }
  }

}
