.persons {
  &.red {
    background-color: #fff;
    color: #f00;
    font-size: 2rem;
    opacity: 1;
    transition: all 2s;
  }
  &.opa {
    opacity: .2;
    color: green !important;
    transition: all 2s;
    &.No {
      opacity: 1;
    }
  }
}
